<form (ngSubmit)="onSubmit()">
  <div class="input-group">
    <p>
      <label for="initial-investment">Initial Investment</label
      ><input
        type="number"
        name="initialInvestment"
        id="initial-investment"
        [(ngModel)]="initialInvestment"
      />
    </p>
  </div>
  <div class="input-group">
    <p>
      <label for="annual-investment">Annual Investment</label
      ><input
        type="number"
        name="annualInvestment"
        id="annual-investment"
        [(ngModel)]="annualInvestment"
      />
    </p>
  </div>
  <div class="input-group">
    <p>
      <label for="expected-return">Expected Return</label
      ><input
        type="number"
        name="expectedReturn"
        id="expected-return"
        [(ngModel)]="expectedReturn"
      />
    </p>
  </div>
  <div class="input-group">
    <p>
      <label for="duration">Duration</label
      ><input
        type="number"
        name="duration"
        id="duration"
        [(ngModel)]="duration"
      />
    </p>
  </div>
  <p>
    <button type="submit">Calculate</button>
  </p>
</form>
